# Claude Code
.claude/

# World/save data used for local testing
docker/ecs/test/

# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfvars

# AWS credentials
.aws-*-env

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo
